@import "tailwindcss";

@theme {
  --color-deep-navy: #00162d;
  --color-cream: #f5f0e8;
  --color-peachy-pink: #efaa97;
  --color-coral: #ff9f87;
  --color-golden-orange: #f4a261;
  --color-teal-green: #2b7463;
  --color-light-gray: #b8bab8;
  --color-off-white: #fffef9;
  --color-mustard-yellow: #e8a83a;
  --color-offwhite: #fcd8c2;
}

body {
  background-color: var(--color-offwhite);
  color: var(--color-deep-navy);
  min-height: 100vh;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-peachy-pink);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-light-gray);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-teal-green);
}
